/* Add this CSS to your stylesheet */

/* Apply lemon color to alternate rows */
tbody tr:nth-child(odd) {
  background-color: #ede3e4 !important;
  /* Lemon color */
}

tbody tr:nth-child(even) {
  background-color: #ffffff !important;
  /* White */
}

/* Ensure all child elements inherit row background */
tbody tr td {
  background-color: inherit !important;
}

/* Override specific styles that might be affecting the background */
/* tbody tr td div {
  background-color: inherit !important;
} */


.styled-header {
  background-color: #f8f9fa;
  /* Light gray background */
  color: #333;
  /* Dark text for contrast */
  text-align: center;
  font-weight: bold;
}

.styled-header th {
  padding: 10px 15px;
  border: 1px solid #ddd;
  /* Adds a border between table headers */
}

.header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-item span {
  display: block;
}

.light-brown {
  background-color: #f5e7da;
  /* Light brown background */
  color: #6c4e2a;
  /* Dark brown text */
  border: 1px solid #ddd;
}

.modal.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dark background */
  z-index: 1050;
}

.btn-primary1 {
  background-color: #f7e5e5;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s
}

.btn-primary1:hover {
  background-color: #c77c88;

}

.modal-dialog {
  position: relative;
  top: 0%;
  margin: auto;
  max-width: 43%;

  max-width: 900px;
  /* allows flexibility on large screens */
  padding: 1rem;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.btn-close {
  background: none;
  border: none;
  color: #000;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
}




@media (max-width: 576px) {
  .modal-body {
    max-height: 85vh;
    overflow-y: auto;
  }

  .modal-footer {
    flex-direction: column;
    gap: 10px;
  }
}








.maintenance-status:hover {
  color: #a75028;
  /* green */
  font-weight: bold;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}